body {
    margin: 0;

}

.div_1 {
    background-color: #F5DEB3;
    width: 250px;
    height: 250px;
}

.div_filha {
    background-color: #90EE90;
    width: 1250px;
    height: 125px;
}

.class_p {
    color: #eb8f8f;
    background-color: #4f13bf;
    font-size: 35px;
    font-family: fantasy;
    font-weight: bold;
}

.style_divD {
    background-color: rgb(42, 136, 19);
    width: 75vw;
    height: 50vh;
}

.style_filha2 {
    background-color: rgb(191, 255, 0);
    width: 30vw;
    height: 45vh;
}